@import "util/mixins";
@import "util/variables";

#signup-card {
  #signup-form {
    padding: 36px;
    width: 324px;
    margin: auto;
    text-align: center;

    .squadd-logo {
      margin-bottom: 24px;
    }

    .input-group {
      width: 100%;
    }

    .password-score-bar {
      margin-top: -19px;
    }

    button {
      width: 100%;
      margin-top: 24px;
    }
  }
}