@import "util/fonts";
@import "_util";

body {
  font-family: $source-sans;
  font-weight: 400;
  font-size: 15px;
  color: $text-dark-gray;
  line-height: 1em;
  /*text-rendering: optimizelegibility;*/
  /*-webkit-font-smoothing: subpixel-antialiased;*/

  #app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $ui-dark-gray;
  }

  h4 {
    font-family: $eau-douce;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    line-height: 28px;
    margin: 0;
  }

  h5 {
    font-family: $eau-douce;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    line-height: 18px;
    margin: 0;
  }

  p {
    font-family: $source-sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    margin: 0;
  }

  small, .small {
    font-family: $source-sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    margin: 0;
  }

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: lighten($blue, 10%);
      text-decoration: underline;
    }
  }

  ul, ol {
    padding-left: 1em;

    li {
      line-height: 23px;
    }
  }

  .number {
    font-family: $source-sans;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: white;
  }

  .muted {
    color: $text-gray;
  }

  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input[type="phone"],
  textarea {
    font-size: 15px;
    font-weight: 400;
    font-family: $source-sans;
    letter-spacing: 0.02em;
    outline: none !important;
    color: $text-dark-gray;

    &:focus, :active, :valid, :hover {
      outline: none !important;
    }

    @include placeholder {
      color: $text-gray;
      font-family: $source-sans;
      font-weight: 400;
      letter-spacing: 0.02em;
      opacity: 1.0;
    }
  }

  .centered {
    margin: auto;
    text-align: center;
  }
}

.card {
  background: white;
  border: 1px solid $light-gray-2;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.12);
  @include border-radius(2px);
}

.page-loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

.username {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 14px;
  color: $teal;
  margin-top: 1px;
}


/*== USER AVATAR ===*/
.user-avatar {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: $teal;
  @include border-radius(50%);
}


/*=== ANIMATIONS ===*/
.flash-bg-appear {
  background: fade-out($teal, 0.85);

  &.flash-bg-appear-active {
    background: inherit;
    @include transition($ease-out-all-800);
  }
}


/*=== UTIL ===*/
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.inline {
  display: inline-block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }