@import "util/fonts";
@import "_util";

body {
  font-family: $eau-douce;
  font-weight: 400;
  font-size: 16px;
  color: $dark-gray;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1em;

  h4 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    line-height: 28px;
    margin: 0;
  }

  h5 {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    line-height: 18px;
    margin: 0;
  }

  p {
    font-family: $source-sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    margin: 0;
  }

  small, .small {
    font-family: $source-sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    margin: 0;
  }

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: lighten($blue, 10%);
      text-decoration: underline;
    }
  }

  ul, ol {
    padding-left: 1em;

    li {
      line-height: 23px;
    }
  }

  svg, svg path {
    fill: currentColor;
  }

  .number {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: white;
  }

  .muted {
    color: $blue-gray;
  }

  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input[type="phone"],
  textarea {
    font-size: 15px;
    font-weight: 400;
    font-family: $source-sans;
    letter-spacing: 0.02em;
    outline: none !important;
    color: $dark-gray;

    &:focus, :active, :valid, :hover {
      outline: none !important;
    }

    @include placeholder {
      color: $blue-gray;
      font-family: $source-sans;
      font-weight: 400;
      letter-spacing: 0.02em;
      opacity: 1.0;
    }
  }

  .card {
    background: $white;
    box-shadow: rgba(43, 59, 93, 0.3) 0px 1px 4px 0px;
    @include border-radius(6px);
  }

  .centered {
    margin: auto;
    text-align: center;
  }
}


#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/*=== BUTTONS ===*/
button, .btn, .button {
  color: white;
  background: $teal;
  font-size: 17px;
  font-weight: 500;
  font-family: $eau-douce;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 1.1em 1.6em 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  @include border-radius(3px);
  @include transition($ease-all-200);

  &:hover {
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.2);
    background: lighten($teal, 4%);
    @include transition($ease-all-200);
  }

  &:focus {
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2), inset 0 0 0px 1px rgba(255, 255, 255, 0.8);
    @include transition($ease-all-200);
  }

  &:active {
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.15);
    background: darken($teal, 4%);
    @include transition($ease-all-200);
  }
}


/*== USER AVATAR ===*/
.user-avatar {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: $teal;
  @include border-radius(50%);
}


/*=== ANIMATIONS ===*/
.flash-bg-appear {
  background: fade-out($teal, 0.85);

  &.flash-bg-appear-active {
    background: inherit;
    @include transition($ease-out-all-800);
  }
}


/*=== UTIL ===*/
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.inline {
  display: inline-block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }