@import "_util";

#chat-container {
  position: fixed;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 0;
  z-index: 80;
  margin-bottom: 69px;
  background: white;
  overflow-y: hidden;
}

.messages-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 18px 24px;
  height: 100%;
  overflow-y: scroll;

  .message {
    position: relative;
    margin: 0px 0px 3px;
    padding: 2px 80px 2px 50px;
    @include border-radius(3px);

    &.first {
      margin-top: 18px;

      .message-time {
        display: block;
      }
    }

    &:hover {
      background: lighten($light-gray-1, 1%);
    }

    &:not(.first):hover {
      .message-time {
        display: block;
      }
    }

    .message-photo {
      position: absolute;
      top: 3px;
      left: 4px;
      z-index: 10;
    }

    .message-text {
      word-wrap: break-word;

      h1, h2, h3, h4, h5, h6 {
        color: $text-dark-gray;
        margin: 0;
        line-height: 1.43em;
        text-transform: none;
      }
    }

    .message-time {
      display: none;
      position: absolute;
      right: 4px;
      top: 5px;
      font-size: 12px;
      font-family: $eau-douce;
      color: $text-gray;
    }
  }

  .date-divider {
    position: relative;
    border-bottom: 1px solid $light-gray-2;
    text-align: center;
    margin: 36px -24px 30px;
    height: 0;

    .date {
      position: relative;
      display: inline-block;
      background: white;
      padding: 0px 24px;
      top: -9px;
      text-transform: uppercase;
      color: $text-gray;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0.05em;
    }
  }
}

#chat-input-container {
  position: fixed;
  left: 70px;
  right: 0;
  bottom: 0;
  padding: 0px 24px 24px;
  z-index: 100;
  background: white;

  #chat-input {
    box-sizing: content-box;
    width: calc(100% - 24px);
    padding: 10px 10px 8px;
    line-height: 20px;
    resize: none !important;
    -webkit-appearance: none;
    overflow-y: auto;
    outline: none !important;
    background: white;
    border: 2px solid fade-out($ui-dark-gray, 0.7);
    @include border-radius(3px);
    @include transition(border 300ms ease);

    &:focus {
      border-color: $teal;
      @include transition(border 300ms ease);
    }
  }
}