@import "util/mixins";
@import "util/variables";

#main-container {
  position: fixed;
  top: 70px;
  left: 564px;
  right: 0;
  bottom: 0;
  z-index: 80;
  padding: 24px;

  background: $white;

  #message-input-form {
    width: 100%;

    #message-input {
      box-sizing: padding-box;
      width: 100%;
      padding: 9px 10px;
      line-height: 18px;
      resize: none !important;
      -webkit-appearance: none;
      overflow-y: auto;
      outline: none !important;
      background: white;
      border: 2px solid $purple;
      @include border-radius(3px);
    }
  }
}