@import "util/mixins";
@import "util/variables";

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 100;

  background: $white;
  box-shadow: rgba(43, 59, 93, 0.3) 0px 1px 2px 0px;

  #sidebar-nav {
    width: 564px;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }

  #nav-menu {
    width: 116px;
    float: right;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  .nav-group {
    height: 100%;
    padding: 19px 24px;
  }
}