@import "_util";

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 564px;
  z-index: 90;

  background: $gray;
  background-image: url("/images/geometry2.png"); /* Background pattern from subtlepatterns.com */
  box-shadow: rgba(43, 59, 93, 0.3) 0px 1px 2px 0px inset;
}