/*== FONTS ==*/
$eau-douce: 'Eau Douce', Arial, sans-serif;
$source-sans: 'Source Sans Pro', Arial, sans-serif; 

/*== COLORS ==*/
$teal:   #18C994;
$orange: #F89E00;
$red:    #D93E64;
$mauve:  #A1007F;
$purple: #530092;
$blue:   #286CD1;

$ui-yellow: #EFD519;
$ui-green:  #58DC4F;
$ui-teal-1: $teal;
$ui-teal-2: #18C9BC;

$ui-dark-gray:   #20212A; /* Darkest */
$ui-blue-gray-1: #243044; /* Darker */
$ui-blue-gray-2: #323E52; /* Dark */

$off-white:    #FDFDFD;
$light-gray-1: #F6F4F9;
$light-gray-2: #E0E0E2;  /* Border color */

$text-dark-gray: $ui-dark-gray;
$text-gray: #A6ABBA;

/*=== TRANSITIONS ===*/
$ease-all-200: all 200ms ease;
$ease-all-300: all 300ms ease;
$ease-out-all-800: all 800ms ease-out;