/*== FONTS ==*/
$source-sans-pro: 'Source Sans Pro', Arial, sans-serif;

/*== COLORS ==*/
$teal:   #00C994;
$orange: #F3A318;
$red:    #E93A4C;
$mauve:  #8F207F;
$purple: #43208F;
$blue:   #217ACD;
$dark-1:  #1B1A22;
$dark-2:  #1C1D26;