/*== FONTS ==*/
$eau-douce: 'Eau Douce', Arial, sans-serif;

/*== COLORS ==*/
$teal:   #18C994;
$orange: #F89E00;
$red:    #D93E64;
$mauve:  #A1007F;
$purple: #530092;
$blue:   #286CD1;

$white: #FDFDFD;
$light-gray: #E0E0E0;
$blue-gray: #B6B8C1; //#868A98;
$gray: #E0E0E2;
$dark-gray: #2E2F39;

/*=== TRANSITIONS ===*/
$ease-all-200: all 200ms ease;
$ease-all-300: all 300ms ease;
$ease-out-all-800: all 800ms ease-out;