@import "../_util";

/*=== FLOAT LABEL INPUT ===*/
.float-label-input-group {
  position: relative;
  text-align: left;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }

  input {
    text-align: left;
    width: 100%;
    padding: 16px 0px 8px;
    font-size: 16px;
    background: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $text-gray;
    @include transition($ease-all-200);
    @include border-radius(0);
  }

  label {
    text-align: left;
    width: 100%;
    display: block;
    pointer-events: none;
    position: absolute;
    top: 11px;
    left: 0;

    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: $text-gray;

    @include transition($ease-all-200);
  }

  input:focus, input:valid, input.filled {
    @include transition($ease-all-200);

    & ~ label {
      font-size: 12px;
      top: -3px;
      @include transition($ease-all-200);
    }
  }

  input:focus {
    border-bottom: 2px solid $teal;

    & ~ label {
      color: $teal;
    }
  }

  &.valid {
    input:focus, input:valid, input.filled {
      border-bottom: 2px solid $teal !important;

      & ~ label {
        color: $teal !important;
      }
    }
  }

  &.invalid {
    input:focus, input:valid, input.filled {
      border-bottom: 2px solid $orange !important;

      & ~ label {
        color: $orange !important;
      }
    }
  }
}