@import "../_util";

.loader {
  display: inline-block;
  font-size: 12px;
  position: relative;
  
  .ball {
    position: absolute;
    width: 12px;
    background-color: $dark-gray;
    @include border-radius(1000px);
    
    &:nth-child(1) {
      background-color: $teal;
      height: 19px;
      top: 6px;
      left: 0;
      z-index: 5;
      @include animation(loader1 3.0s infinite ease-in-out both);
      animation-delay: 0.0s;
    }

    &:nth-child(2) {
      background-color: $yellow;
      height: 15px;
      top: 5px;
      left: 10px;
      z-index: 4;
      @include animation(loader2 3.0s infinite ease-in-out both);
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      background-color: $red;
      height: 15px;
      top: -5px;
      left: 10px;
      z-index: 3;
      @include animation(loader3 3.0s infinite ease-in-out both);
      animation-delay: 0.6s;
    }

    &:nth-child(4) {
      background-color: $purple;
      height: 19px;
      top: -8px;
      left: 0px;
      z-index: 0;
      @include animation(loader4 3.0s infinite ease-in-out both);
      animation-delay: 0.6s;
    }

    &:nth-child(5) {
      background-color: $mauve;
      height: 15px;
      top: -5px;
      left: -10px;
      z-index: 3;
      @include animation(loader5 3.0s infinite ease-in-out both);
      animation-delay: 0.6s;
    }

    &:nth-child(6) {
      background-color: $blue;
      height: 15px;
      top: 5px;
      left: -10px;
      z-index: 4;
      @include animation(loader6 3.0s infinite ease-in-out both);
      animation-delay: 0.3s;
    }
  }
}
    
@keyframes loader1 {
  0% {
    @include transform(translate(0, 0));
  }
  50% {
    @include transform(translate(0, 20px));
  }
  100% {
    @include transform(translate(0, 0));
  }
}

@keyframes loader2 {
  0% {
    @include transform(translate(0, 0));
  }
  50% {
    @include transform(translate(10px, 10px));
    height: 19px;
  }
  100% {
    @include transform(translate(0, 0));
  }
}

@keyframes loader3 {
  0% {
    @include transform(translate(0, 0));
  }
  50% {
    @include transform(translate(10px, -10px));
    height: 19px;
  }
  100% {
    @include transform(translate(0, 0));
  }
}


@keyframes loader4 {
  0% {
    @include transform(translate(0, 0));
  }
  50% {
    @include transform(translate(0, -20px));
  }
  100% {
    @include transform(translate(0, 0));
  }
}

@keyframes loader5 {
  0% {
    @include transform(translate(0, 0));
  }
  50% {
    @include transform(translate(-10px, -10px));
    height: 19px;
  }
  100% {
    @include transform(translate(0, 0));
  }
}

@keyframes loader6 {
  0% {
    @include transform(translate(0, 0));
  }
  50% {
    @include transform(translate(-10px, 10px));
    height: 19px;
  }
  100% {
    @include transform(translate(0, 0));
  }
}