@import "../util";

/*=== SQUADD LOGO ===*/
.squadd-logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 36px;
  color: $dark-gray;
  transform-origin: top left;

  .logo-icon {
    font-size: inherit;
    height: 1em;
    width: 0.96em;
    display: inline-block;
    vertical-align: 0;
  }

  .logo-text {
    font-size: inherit;
    height: 0.916666667em;
    display: inline-block;
    vertical-align: 0.05em;
    margin: 0.04em 0;
  }

  .logo-icon + .logo-text {
    margin-left: 0.166667em;
  }
}